<!DOCTYPE html>
<html>
<body>

<footer>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <a href="/user/aboutUs">About</a> | <a href="/">Employee - Log-out</a>
    <p>Created by: Chase King</p>
    <p>Contact information: <a href="mailto:kingande@sonoma.edu">
            kingande@sonoma.edu</a>.</p>
</footer>
</body>

</html>