<%- include("../includes/empHeader.ejs", {title:"Maintenance History"}); %>

<h1>Maintenance History</h1>

        <br />

    <a href="/employee/yearMaintenance">Click Here For Maintenance Counts This Year</a>














<br />
<br />
        <table border="1">
            <tr><th>Date</th><th>Description</th><th>Username</th><th>Employee Name</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td> <%= result[i].date %> </td>
                <td> <%= result[i].description %> </td>
                <td> <%= result[i].username %> </td>
                <td> <%= result[i].first_name %> <%= result[i].last_name %> </td>
            </tr>
            <% } %>
        </table>
        <br />
        <br />



<%- include("../includes/empFooter.ejs"); %>