<%- include("../includes/empHeader.ejs", {title:"Add Maintenance"}); %>
    <h1>Add Maintenance for User</h1>
    <form action="/employee/insertMaint" method="get">

        Employee Name <br />
        <select id="employee_id" name="employee_id" >
            <% for(var i=0; employee.length > i; i++ ) {
                var selected = "";


            %>
            <option value="<%= employee[i].employee_id %>" <%= selected %> ><%= employee[i].last_name %>, <%= employee[i].first_name %></option>
            <% } %>
        </select>
        <br />
        <br />
        <script type="text/javascript">
            $(document).ready(function() {
                $('#employee_id').multiselect();
            });
        </script>
        User Username <br />
        <select id="user_id" name="user_id" >
            <% for(var i=0; user.length > i; i++ ) {
                var selected = "";


            %>
            <option value="<%= user[i].user_id %>" <%= selected %> ><%= user[i].last_name %>, <%= user[i].first_name %></option>
            <% } %>
        </select>
        <br />
        <br />
        <script type="text/javascript">
            $(document).ready(function() {
                $('#user_id').multiselect();
            });
        </script>
        Maintenance Description: <br />
        <select id="description" name="description" >
            <% for(var i=0; maintenance.length > i; i++ ) {
                var selected = "";


            %>
            <option value="<%= maintenance[i].description %>" <%= selected %> ><%= maintenance[i].description %></option>
            <% } %>
        </select>
        <br />
        <br />
        <script type="text/javascript">
            $(document).ready(function() {
                $('#description').multiselect();
            });
        </script>
        Current Plan: <br />
        <select id="plan_id" name="plan_id" >

            <% for(var i=0; plan.length > i; i++ ) { %>
            <option value="<%= plan[i].plan_id %>" >Plan Name: <%= plan[i].name + ', Plan Speed: ' + plan[i].speed + 'mbps , Plan Price: $' + plan[i].price %></option>
            <% } %>
        </select>

        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#plan_id').multiselect();
            });
        </script>
        <br />
        <br />




        <br />
        <input type="submit" />

    </form>
<a href="/employee/all"><< back</a>
<%- include("../includes/empFooter.ejs"); %>