<%- include("../includes/empHeader.ejs", {title:"Employee - Home"}); %>

<h1>Employee Directory</h1>

        <br />

        <table border="1">
            <tr><th>Last Name</th><th>First Name</th><th>Phone #</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><%= result[i].last_name %></td>
                <td><%= result[i].first_name %></td>
                <td><%= result[i].phone_no %></td>
            </tr>
            <% } %>
        </table>

<%- include("../includes/empFooter.ejs"); %>