<%- include("../includes/header.ejs", {title:"Your Employee Account"}); %>
    <h1><%= result[0].first_name %> <%= result[0].last_name %>'s Account Information</h1>
    <ul>
        <li>First Name:</br> <%= result[0].first_name %></li>
    </br>
        <li>Last Name:</br> <%= result[0].last_name %></li>
        </br>
        <li>Social Security #:</br> <%= result[0].SSN %></li>
        </br>
        <li>Office Phone #:</br> <%= result[0].creditcard %></li>
        </br>
        <li>Your Address:</br> <%= result[0].street_no + ' ' + result[0].street_name + ' ' + result[0].city + ', ' + result[0].state + ' ' + result[0].zip %></li>
        </br>
        <li>Payrate:</br> You make $<%= result[0].payrate %> per hour.
            </br>




    </br>


<a href="/user/selectEmployee"><< back</a>

<%- include("../includes/footer.ejs"); %>