<%- include("../includes/header.ejs", {title:"Login"}); %>
<h1>Select Employee Name</h1>
<form action="/employee/all" method="get">

    Employee Name <br />
    <select id="employee_id" name="employee_id" >
        <% for(var i=0; employee.length > i; i++ ) {
            var selected = "";


        %>
        <option value="<%= employee[i].employee_id %>" <%= selected %> ><%= employee[i].last_name %>, <%= employee[i].first_name %></option>
        <% } %>
    </select>




    </select>



    <br />
    <br />
    <input type="submit" />

</form>
<a href="/"><< back</a>
<%- include("../includes/footer.ejs"); %>