<%- include("../includes/empHeader.ejs", {title:"Maintenance History"}); %>

<h1>User Yearly Maintenance Counts</h1>

        <br />




<br />
<br />
        <table border="1">
            <tr><th>Username</th><th>Number of Maintenances</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td> <%= result[i].username %> </td>
                <td>    <%= result[i].num_maintenances_this_year %>  </td>
            </tr>
            <% } %>
        </table>
        <br />
        <br />



<%- include("../includes/empFooter.ejs"); %>