<%- include("../includes/header.ejs", {title: "Update " + user.username}); %>

<h1>Update <%= user.username%></h1>
<form action="/employee/addMaint" method="get">
    <input type="hidden" id="user_id" name="user_id" value="<%= user.user_id %>">
    First Name:<br /> <input id="first_name" name="first_name" type="text" value="<%= user.first_name%>"/>
    <br />
    Last Name:<br /> <input id="last_name" name="last_name" type="text" value="<%= user.last_name%>"/>
    <br />
    Password:<br /> <input id="password" name="password" type="text" value="<%= user.password%>"/>
    <br />
    Credit Card #:<br /> <input id="creditcard" name="creditcard" type="text" value="<%= user.creditcard%>"/>
    <br />

    Plan <br />
    <select id="plan_id" name="plan_id" >
        <% for(var i=0; plan.length > i; i++ ) {
            var selected = "";

            if(plan[i].user_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= plan[i].plan_id %>" <%= selected %> >Plan Name: <%= plan[i].name + ', Plan Speed: ' + plan[i].speed + 'mbps , Plan Price: $' + plan[i].price %></option>
        <% } %>
    </select>





    <br />

    <input type="submit" />

</form>
<a href="/"><< back</a>
<%- include("../includes/footer.ejs"); %>

</html>