<%- include("./includes/header.ejs", {title: title}); %>

    <p>Plans starting at $10/month!</p>


    <a href="/user/add">Sign-up</a>
    <br /><br />
    <a href="/user/selectUser">Log-in</a>
    <br /><br />
    <a href="/plan/all">View Plans</a>
    <br /><br />
    <a href="/user/aboutUs">About</a>
    <br />
    <br />
    <br />
<br />
<br />
<br />
<br />
<%- include("./includes/footer.ejs"); %>
