<%- include("../includes/header.ejs", {title:"Create Account"}); %>
    <h1>Create Account</h1>
    <form action="/user/insert" method="get">
        Username:<br /> <input id="username" name="username" type="text" />
        <br />
        Password:<br /> <input id="password" name="password" type="password" />
        <br />
        Plan <br />
        <select id="plan_id" name="plan_id" >

            <% for(var i=0; plan.length > i; i++ ) { %>
            <option value="<%= plan[i].plan_id %>" >Plan Name: <%= plan[i].name + ', Plan Speed: ' + plan[i].speed + 'mbps , Plan Price: $' + plan[i].price %></option>
            <% } %>
        </select>

        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#plan_id').multiselect();
            });
        </script>
        <br />
        First Name:<br /> <input id="first_name" name="first_name" type="text" />
        <br />
        Last Name:<br /> <input id="last_name" name="last_name" type="text" />
        <br />
        Credit Card #:<br /> <input id="creditcard" name="creditcard" type="text" />
        <br />
        Street Number:<br /> <input id="street_no" name="street_no" type="text" />
        <br />
        Street Name:<br /> <input id="street_name" name="street_name" type="text" />
        <br />
        City:<br /> <input id="city" name="city" type="text" />
        <br />
        State:<br /> <input id="state" name="state" type="text" />
        <br />
        Zip Code:<br /> <input id="zip" name="zip" type="text" />
        <br />





        <br />
        <input type="submit" />

    </form>
<a href="/"><< back</a>
<%- include("../includes/footer.ejs"); %>