<%- include("../includes/header.ejs", {title:"Your Account"}); %>
    <h1><%= result[0].username %>'s Account Information</h1>
    <ul>
        <li>First Name:</br> <%= result[0].first_name %></li>
    </br>
        <li>Last Name:</br> <%= result[0].last_name %></li>
        </br>
        <li>Password:</br> <%= result[0].password %></li>
        </br>
        <li>Credit Card #:</br> <%= result[0].creditcard %></li>
        </br>
        <li>Plan:</br> <%= 'Plan Name: ' + result[0].name + ', Plan Speed: ' + result[0].speed + 'mbps , Plan Price: $' + result[0].price %></li>
        </br>
        <li>Address:</br> <%= result[0].street_no + ' ' + result[0].street_name + ' ' + result[0].city + ', ' + result[0].state + ' ' + result[0].zip %></li>
        </br>




    </br>
        <p> Edit user info:</p>
        <button onclick="event.preventDefault();window.location.href='/user/edit/?user_id=<%= result[0].user_id %>'">Edit</button>
    </ul>

<a href="/user/selectUser"><< back</a>

<%- include("../includes/footer.ejs"); %>