<%- include("../includes/header.ejs", {title:"Login"}); %>
<h1>Select Username</h1>
<form action="/user/userInfo" method="get">

    User <br />
    <select id="user_id" name="user_id" >
        <% for(var i=0; user.length > i; i++ ) {
            var selected = "";


        %>
        <option value="<%= user[i].user_id %>" <%= selected %> ><%= user[i].username %></option>
        <% } %>
    </select>




    </select>



    <br />
    <br />
    <input type="submit" />

</form>
<a href="/"><< back</a>
<%- include("../includes/footer.ejs"); %>