<%- include("../includes/header.ejs", {title:"About"}); %>
<h1>About Us</h1>

<br />
<p>The purpose of our website is to provide Cheap ISP with a platform for their users and employees. It allows users sign up,
    log in and view/edit their information, and view our available plans. It allows employees to log in and see other employee contact information,
    as well as add and view various tables of maintenances done on a user's service.</p>
<br />
<P> Cheap ISP is an Internet Service Provider, it allows users to sign-up for service and have internet connected straight to their
    home! We feature various plans of price and speed so a user can choose what's best for them. It was created by Chase King in 2017 who built
    it by himself from the ground up within a week.</P>




<br /><br />
<p>ER Diagram:
    <br />
    <img src = "/images/ER.png"/>
</p>
<br /><br />
<p>Relational Schema:
    <br />
    <img src = "/images/RelationalSchema.png"/>
</p>


<%- include("../includes/footer.ejs"); %>