<%- include("../includes/header.ejs", {title:"Plans"}); %>

<h1>Plans</h1>


        <br />

        <table border="1">
            <tr><th>Plan Name</th><th>Plan Speed</th><th>Plan Price</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><%= result[i].name %></td>
                <td><%= result[i].speed %>mbps</td>
                <td>$<%= result[i].price %>/month</td>
            </tr>
            <% } %>
        </table>
<a href="/"><< back</a>
<%- include("../includes/footer.ejs"); %>